body {
    background-color: lightgoldenrodyellow;
  text-align: center;
  position: relative;
  width:850px;
  height: 450px;
  margin:auto;
  margin-top: 100px
}

    
h1{
 font-family:'Metal Mania', cursive;
 font-weight: normal;
 font-size: 48px;
}   

}
tagname{
font-family:'Metal Mania',cursive
font-weight:
text-align:center
color:sandybrown;
}
#kick{
width: 160px;
bottom:350px;
left:10px;
}
img{
width:160px
}

}
.drumset-part{
position: absolute;
}